body {
    font-family: "IBM Plex Mono", Courier, monospace;
    text-rendering: geometricPrecision;
    padding: 1rem;
}

h1 {
    font-family: "Space Mono", Courier, monospace;
    font-weight: 700;
    font-size: 5rem;
    letter-spacing: -1px;
}